        <style>  
            
            {
                background-image: url(IMG/3.jpg);
                color: white;
            }

            .dropbtn        /* Button text color & config*/
            {   
                color: darkslategrey; 
                padding: 15px 40px;  
                font-size: 12px;  
            }  
            
            .dropdown       /* dropdown block way */
            {  
                display: inline-block;  
                position: relative;
            }  
            
            .dropdown-content       /* DropDown menu colour and config*/
            {  
                position: absolute;  
                min-width: 200px;  
                display: none;  
                z-index: 1;  
            }  
            
            .dropdown-content a         /*dropdown content color and config*/
            {  
                color: black;
                padding: 12px 20px;  
                text-decoration: none;  
                display: block;  
            }  
            
            .dropdown-content a:hover       /*dropdown content color on hover */
            {  
                background-color: orange;  
                font-family: sans-serif;
            }  
            
            .dropdown:hover .dropdown-content       /*dropdown content block way */
            {  
                display: block;         /*block means below the text*/
            }  
            
            .dropdown:hover .dropbtn        /* button color after hover*/
            {  
                background-color: mintcream; 
                font-family: cursive;
                font-size: 15px;
            }  
            
            a:hover         /* Underline on every text over hover*/
            {
                text-decoration: underline;
                target-new:tab; 
            }
            
            
            
            .contact_us:link {
              color: transparent;
              background-color: transparent;
              text-decoration: none;
            }
            .contact_us:visited {
              color: transparent;
              background-color: transparent;
              text-decoration: none;
            }
            .contact_us:hover {
              color: transparent;
              background-color: transparent;
              text-decoration: none;
            }
            
            
            .contact_heading:link {
              color: lightsalmon;
              background-color: transparent;
              text-decoration: none;
            }
            .contact_heading:visited {
              color: lightsalmon;
              background-color: transparent;
              text-decoration: none;
            }
            .contact_heading:hover {
              color: orange;
              background-color: transparent;
              text-decoration: none;
            }
            
            
            .heading_organo:link {
              color: lightpink;
              background-color: transparent;
              text-decoration: none;
            }
            .heading_organo:visited {
              color: lightpink;
              background-color: transparent;
              text-decoration: none;
            }
            .heading_organo:hover {
              color: hotpink;
              background-color: transparent;
              text-decoration: none;
            }
            
            
            /*.about_us_text
            {
                font-family: Caveat;
                font-size: 17px;
            }
            
            .colourful_square
            {
              margin-left: 725px;
              border-radius: 10px;
              width: 40px;
              height: 40px;
              background-color: black;
              position: relative;
              animation-name: example;
              animation-duration: 5s;
              animation-delay: 3s;
              animation-iteration-count: infinite;
            }

            @keyframes example {
              0%   {background-color:black; left:0px; top:80px;}
              25%  {background-color:yellow; left:510px; top:80px;}
              50%  {background-color:blue; left:500px; top:560px;}
              75%  {background-color:maroon; left:0px; top:560px;}
              100% {background-color:black; left:0px; top:0px;}
            }
            

            * 
            {
              box-sizing: border-box;
            }

            .video {
              float: left;
              width: 50.00%;
              padding: 15px;
            }
            .column2 {
              float: left;
              width: 40.00%;
              padding: 70px;
            }
            .row_about_us::after {
              content: "";
              clear: both;
              display: table;
            }
            

            */


            .glowtext {
              font-size: 13px;
              color: #ffffff;
              text-align: right;
              margin-top: 50px;
              -webkit-animation: glow 1s ease-in-out infinite alternate;
              -moz-animation: glow 1s ease-in-out infinite alternate;
              animation: glow 1s ease-in-out infinite alternate;
            }

            @-webkit-keyframes glow {
              from {
                text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                             0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
              }
              to {
                text-shadow: 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 
                             0 0 60px blue, 0 0 70px blue, 0 0 80px blue;
              }
            }
            


            .about_us_text
            {
                font-size: 18.5px;
                padding: 10px;
                font-family: Caveat;
                color: white;
            }
        

            th, td {
              padding: 1px;
              text-align: justify; 
            }


            .about_us_text_outer_background {
              padding-top: 1px;
              height: 440px;
              width: 650px;
              margin-top: 50px;
              position: relative;
              overflow: hidden;
            }
        

            .about_us_main_text {
              position: static;
              top: 3%;
              left: 1%;
              bottom: 3%;
              right: 1%;
              display: block;
              height: 92%;
              width: 95%;
              margin: auto;
              align-self: center;
              opacity: 0.5;
              background: black;
              z-index: 1;
            }

            .about_us_text_border {
              position: absolute;
              display: block;
              top: -50%;
              left: -50%;
              z-index: -23;
              display: block;
              height: 200%;
              width: 200%;
              transform: rotate(-45deg);
              overflow: hidden;
              background: linear-gradient(to right, transparent 15%, transparent 25%, #ECD08C 35%, #ECD08C 40%, #ECD08C 45%, #ECD08C 55%, #ECD08C 65%, transparent 75%, transparent 85%, transparent 90%, transparent 100%);
              background-size: 200% auto;

              animation: shine 4s linear infinite;
            }


            /*Begin shimmer code*/

            @keyframes shine {
                to {
                  background-position: 200% center;
                }
              }fff
        

        

        
            
            
            
            body 
            {
              font-family: Arial, Helvetica, sans-serif;
            }

            /*
            * {
              box-sizing: border-box;
            }*/

            /* Style inputs */
            input[type=text], select, textarea {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              margin-top: 6px;
              margin-bottom: 16px;
              resize: vertical;
            }

            input[type=submit] {
              background-color: #4CAF50;
              color: white;
              padding: 12px 20px;
              border: none;
              cursor: pointer;
            }

            input[type=submit]:hover {
              background-color: #45a049;
            }

            /* Style the container/contact section */
            .contact_us {
              border-radius: 5px;
              padding: 10px;
            }

            /* Create two columns that float next to eachother */
            .contact_us_pic {
              float: left;
              width: 50%;
              margin-top: 6px;
              padding: 20px;
            }
            .contact_us_text_form {
              float: right;
              width: 30%;
              margin-top: 30px;
              margin-left: 30px;
              margin-right: 100px;
              padding: 20px;
            }
            .contact_us_row:after {
              content: "";
              display: table;
              clear: both;
            }


            
            
            
            
            
        </style>  