<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png'%}">

  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png'%}">
  <title>
    Medical Dashboard
  </title>
  <!--     Fonts and icons     -->
  <style>
    /* form submit button container*/
    .message-button {
      display: block;
      width: 100%;
      text-align: right;
    }

    /* form submit button */
    .genric-btn.primary {
      outline: none;
      line-height: 40px;
      padding: 0 30px;
      font-size: .8em;
      text-align: center;
      text-decoration: none;
      font-weight: 500;
      cursor: pointer;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      color: rgb(255, 255, 255);
      background: #cb0c9f;
      border: 1px solid transparent;
      margin-right: 1.65%;
    }

    /* button on hover */
    .genric-btn.primary:hover {
      color: #cb0c9f;
      border: 1px solid #cb0c9f;
      background: rgb(255, 255, 255);
    }
  </style>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link rel="stylesheet" href="{% static 'assets/css/nucleo-icons.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/nucleo-svg.css' %}">

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'assets/css/nucleo-svg.css' %}">
  <!-- CSS Files -->
  <link id="pagestyle" rel="stylesheet" href="{% static 'assets/css/soft-ui-dashboard.css' %}">

</head>

<body class="g-sidenav-show  bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-left ms-3"
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="{% url 'dashboard' %}">
        <img class="navbar-brand-img h-100 w-15" alt="..." src="{% static 'assets/img/local_hospitallogo.png' %}"
          >
        <span class="ms-1 font-weight-bold">Auxilium</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  active" href="{% url 'dashboard' %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>shop </title>
                <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Rounded-Icons" transform="translate(-1716.000000, -439.000000)" fill="#FFFFFF"
                    fill-rule="nonzero">
                    <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                      <g id="shop-" transform="translate(0.000000, 148.000000)">
                        <path class="color-background"
                          d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"
                          id="Path" opacity="0.598981585"></path>
                        <path class="color-background"
                          d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"
                          id="Path"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link  " href="{% url 'result' %}">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>office</title>
                <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Rounded-Icons" transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                      <g id="office" transform="translate(153.000000, 2.000000)">
                        <path class="color-background" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z" id="Path" opacity="0.6"></path>
                        <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z" id="Shape"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Patient Results</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " href="{% url 'overview' %}">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>settings</title>
                <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Rounded-Icons" transform="translate(-2020.000000, -442.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                      <g id="settings" transform="translate(304.000000, 151.000000)">
                        <polygon class="color-background" id="Path" opacity="0.596981957" points="18.0883333 15.7316667 11.1783333 8.82166667 13.3333333 6.66666667 6.66666667 0 0 6.66666667 6.66666667 13.3333333 8.82166667 11.1783333 15.315 17.6716667"></polygon>
                        <path class="color-background" d="M31.5666667,23.2333333 C31.0516667,23.2933333 30.53,23.3333333 30,23.3333333 C29.4916667,23.3333333 28.9866667,23.3033333 28.48,23.245 L22.4116667,30.7433333 L29.9416667,38.2733333 C32.2433333,40.575 35.9733333,40.575 38.275,38.2733333 L38.275,38.2733333 C40.5766667,35.9716667 40.5766667,32.2416667 38.275,29.94 L31.5666667,23.2333333 Z" id="Path" opacity="0.596981957"></path>
                        <path class="color-background" d="M33.785,11.285 L28.715,6.215 L34.0616667,0.868333333 C32.82,0.315 31.4483333,0 30,0 C24.4766667,0 20,4.47666667 20,10 C20,10.99 20.1483333,11.9433333 20.4166667,12.8466667 L2.435,27.3966667 C0.95,28.7083333 0.0633333333,30.595 0.00333333333,32.5733333 C-0.0583333333,34.5533333 0.71,36.4916667 2.11,37.89 C3.47,39.2516667 5.27833333,40 7.20166667,40 C9.26666667,40 11.2366667,39.1133333 12.6033333,37.565 L27.1533333,19.5833333 C28.0566667,19.8516667 29.01,20 30,20 C35.5233333,20 40,15.5233333 40,10 C40,8.55166667 39.685,7.18 39.1316667,5.93666667 L33.785,11.285 Z" id="Path"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Patient Overview</span>
          </a>
        </li>


        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
        </li>

        <li class="nav-item">
          <a class="nav-link  " href="{% url 'sign-in' %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>document</title>
                <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Rounded-Icons" transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF"
                    fill-rule="nonzero">
                    <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                      <g id="document" transform="translate(154.000000, 300.000000)">
                        <path class="color-background"
                          d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z"
                          id="Path" opacity="0.603585379"></path>
                        <path class="color-background"
                          d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"
                          id="Shape"></path>
                      </g>
                    </g>
                  </g>
                </g>

              </svg>
            </div>
            <span class="nav-link-text ms-1">Sign In</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link  " href="{% url 'sign-up' %}">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="20px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>spaceship</title>
                <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Rounded-Icons" transform="translate(-1720.000000, -592.000000)" fill="#FFFFFF"
                    fill-rule="nonzero">
                    <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                      <g id="spaceship" transform="translate(4.000000, 301.000000)">
                        <path class="color-background"
                          d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z"
                          id="Shape"></path>
                        <path class="color-background"
                          d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z"
                          id="Path"></path>
                        <path class="color-background"
                          d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z"
                          id="color-2" opacity="0.598539807"></path>
                        <path class="color-background"
                          d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z"
                          id="color-3" opacity="0.598539807"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Sign Up</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content mt-1 border-radius-lg">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
      navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 ps-2 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="text-black opacity-5"
                    href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-blackctive" aria-current="page">Add Patient</li>
        </ol>
        <!-- <h6 class="text-black font-weight-bolder ms-2">Patient History</h6>
        <h4 class="font-weight-bolder mb-0">Welcome back Dr. Fernandes</h4> -->
          
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Report Ready</span> for Rujul Walvekar
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          13 minutes ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                        <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1"
                          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>credit-card</title>
                          <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Rounded-Icons" transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF"
                              fill-rule="nonzero">
                              <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                                <g id="credit-card" transform="translate(453.000000, 454.000000)">
                                  <path class="color-background"
                                    d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                    id="Path" opacity="0.593633743"></path>
                                  <path class="color-background"
                                    d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"
                                    id="Shape"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          Scan successfully updated
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          2 days
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                        <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1"
                          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>credit-card</title>
                          <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Rounded-Icons" transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF"
                              fill-rule="nonzero">
                              <g id="Icons-with-opacity" transform="translate(1716.000000, 291.000000)">
                                <g id="credit-card" transform="translate(453.000000, 454.000000)">
                                  <path class="color-background"
                                    d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                    id="Path" opacity="0.593633743"></path>
                                  <path class="color-background"
                                    d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"
                                    id="Shape"></path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          Scan successfully updated
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          2 days
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->   
    <section id="contact-page-area" class="container">
      <span class="section-heading">
        <h4>Patient History</h4>
      </span>
      <div class="contact-person-details">
        <form class="contact-form" id="myForm" action="{% url 'addPatient' %}" method="post">
          {% csrf_token %} {{ form.as_p }}
          <div class="form-elements">
            <div class="form-group">
              <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter your name'" class=" form-control" required="" type="text">
              <br>

              <select id="gender" name="gender" placeholder="Your Gender" class=" form-control">
                <option value="gender1">Please select your gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <br>

              <!-- <select id="race" name="race" placeholder="Your Race" class=" form-control">
                <option value="race1">Please select your Race</option>
                <option value="Asian">Asian</option>
                <option value="American">American</option>
                <option value="European">African</option>
                <option value="Hispanic">Hispanic</option>
              </select>
              <br> -->

              <input name="date_of_birth" placeholder="Enter Birthday" onfocus="this.placeholder = 'Enter Birthday'"
                onblur="this.placeholder = 'Enter Birthdate'" class="form-control" required="" type="date">
              <br>

              <input name="email" placeholder="Enter email address"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter email address'" class="form-control" required="" type="email">
              <br>

              <input name="phone_number" placeholder="Enter phone number"
                 onfocus="this.placeholder = 'Enter phone number'"
                onblur="this.placeholder = 'Enter phone number'" class="form-control" required="" type="text">
              <br>

              <input name="birth_place" placeholder="Enter your Birthplace" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter your Place of Birth'" class=" form-control" required="" type="text">
              <br>

              <select id="country" name="country" placeholder="Your Country" class=" form-control">
                <option selected disabled value="null">Select a Country</option>
                <option class="country-options" value="Afganistan">Afghanistan</option>
                <option class="country-options" value="Albania">Albania</option>
                <option class="country-options" value="Algeria">Algeria</option>
                <option class="country-options" value="American Samoa">American Samoa</option>
                <option class="country-options" value="Andorra">Andorra</option>
                <option class="country-options" value="Angola">Angola</option>
                <option class="country-options" value="Anguilla">Anguilla</option>
                <option class="country-options" value="Antigua & Barbuda">Antigua & Barbuda</option>
                <option class="country-options" value="Argentina">Argentina</option>
                <option class="country-options" value="Armenia">Armenia</option>
                <option class="country-options" value="Aruba">Aruba</option>
                <option class="country-options" value="Australia">Australia</option>
                <option class="country-options" value="Austria">Austria</option>
                <option class="country-options" value="Azerbaijan">Azerbaijan</option>
                <option class="country-options" value="Bahamas">Bahamas</option>
                <option class="country-options" value="Bahrain">Bahrain</option>
                <option class="country-options" value="Bangladesh">Bangladesh</option>
                <option class="country-options" value="Barbados">Barbados</option>
                <option class="country-options" value="Belarus">Belarus</option>
                <option class="country-options" value="Belgium">Belgium</option>
                <option class="country-options" value="Belize">Belize</option>
                <option class="country-options" value="Benin">Benin</option>
                <option class="country-options" value="Bermuda">Bermuda</option>
                <option class="country-options" value="Bhutan">Bhutan</option>
                <option class="country-options" value="Bolivia">Bolivia</option>
                <option class="country-options" value="Bonaire">Bonaire</option>
                <option class="country-options" value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                <option class="country-options" value="Botswana">Botswana</option>
                <option class="country-options" value="Brazil">Brazil</option>
                <option class="country-options" value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                <option class="country-options" value="Brunei">Brunei</option>
                <option class="country-options" value="Bulgaria">Bulgaria</option>
                <option class="country-options" value="Burkina Faso">Burkina Faso</option>
                <option class="country-options" value="Burundi">Burundi</option>
                <option class="country-options" value="Cambodia">Cambodia</option>
                <option class="country-options" value="Cameroon">Cameroon</option>
                <option class="country-options" value="Canada">Canada</option>
                <option class="country-options" value="Canary Islands">Canary Islands</option>
                <option class="country-options" value="Cape Verde">Cape Verde</option>
                <option class="country-options" value="Cayman Islands">Cayman Islands</option>
                <option class="country-options" value="Central African Republic">Central African Republic</option>
                <option class="country-options" value="Chad">Chad</option>
                <option class="country-options" value="Channel Islands">Channel Islands</option>
                <option class="country-options" value="Chile">Chile</option>
                <option class="country-options" value="China">China</option>
                <option class="country-options" value="Christmas Island">Christmas Island</option>
                <option class="country-options" value="Cocos Island">Cocos Island</option>
                <option class="country-options" value="Colombia">Colombia</option>
                <option class="country-options" value="Comoros">Comoros</option>
                <option class="country-options" value="Congo">Congo</option>
                <option class="country-options" value="Cook Islands">Cook Islands</option>
                <option class="country-options" value="Costa Rica">Costa Rica</option>
                <option class="country-options" value="Cote DIvoire">Cote DIvoire</option>
                <option class="country-options" value="Croatia">Croatia</option>
                <option class="country-options" value="Cuba">Cuba</option>
                <option class="country-options" value="Curaco">Curacao</option>
                <option class="country-options" value="Cyprus">Cyprus</option>
                <option class="country-options" value="Czech Republic">Czech Republic</option>
                <option class="country-options" value="Denmark">Denmark</option>
                <option class="country-options" value="Djibouti">Djibouti</option>
                <option class="country-options" value="Dominica">Dominica</option>
                <option class="country-options" value="Dominican Republic">Dominican Republic</option>
                <option class="country-options" value="East Timor">East Timor</option>
                <option class="country-options" value="Ecuador">Ecuador</option>
                <option class="country-options" value="Egypt">Egypt</option>
                <option class="country-options" value="El Salvador">El Salvador</option>
                <option class="country-options" value="Equatorial Guinea">Equatorial Guinea</option>
                <option class="country-options" value="Eritrea">Eritrea</option>
                <option class="country-options" value="Estonia">Estonia</option>
                <option class="country-options" value="Ethiopia">Ethiopia</option>
                <option class="country-options" value="Falkland Islands">Falkland Islands</option>
                <option class="country-options" value="Faroe Islands">Faroe Islands</option>
                <option class="country-options" value="Fiji">Fiji</option>
                <option class="country-options" value="Finland">Finland</option>
                <option class="country-options" value="France">France</option>
                <option class="country-options" value="French Guiana">French Guiana</option>
                <option class="country-options" value="French Polynesia">French Polynesia</option>
                <option class="country-options" value="French Southern Ter">French Southern Ter</option>
                <option class="country-options" value="Gabon">Gabon</option>
                <option class="country-options" value="Gambia">Gambia</option>
                <option class="country-options" value="Georgia">Georgia</option>
                <option class="country-options" value="Germany">Germany</option>
                <option class="country-options" value="Ghana">Ghana</option>
                <option class="country-options" value="Gibraltar">Gibraltar</option>
                <option class="country-options" value="Great Britain">Great Britain</option>
                <option class="country-options" value="Greece">Greece</option>
                <option class="country-options" value="Greenland">Greenland</option>
                <option class="country-options" value="Grenada">Grenada</option>
                <option class="country-options" value="Guadeloupe">Guadeloupe</option>
                <option class="country-options" value="Guam">Guam</option>
                <option class="country-options" value="Guatemala">Guatemala</option>
                <option class="country-options" value="Guinea">Guinea</option>
                <option class="country-options" value="Guyana">Guyana</option>
                <option class="country-options" value="Haiti">Haiti</option>
                <option class="country-options" value="Hawaii">Hawaii</option>
                <option class="country-options" value="Honduras">Honduras</option>
                <option class="country-options" value="Hong Kong">Hong Kong</option>
                <option class="country-options" value="Hungary">Hungary</option>
                <option class="country-options" value="Iceland">Iceland</option>
                <option class="country-options" value="Indonesia">Indonesia</option>
                <option class="country-options" value="India">India</option>
                <option class="country-options" value="Iran">Iran</option>
                <option class="country-options" value="Iraq">Iraq</option>
                <option class="country-options" value="Ireland">Ireland</option>
                <option class="country-options" value="Isle of Man">Isle of Man</option>
                <option class="country-options" value="Israel">Israel</option>
                <option class="country-options" value="Italy">Italy</option>
                <option class="country-options" value="Jamaica">Jamaica</option>
                <option class="country-options" value="Japan">Japan</option>
                <option class="country-options" value="Jordan">Jordan</option>
                <option class="country-options" value="Kazakhstan">Kazakhstan</option>
                <option class="country-options" value="Kenya">Kenya</option>
                <option class="country-options" value="Kiribati">Kiribati</option>
                <option class="country-options" value="Korea North">Korea North</option>
                <option class="country-options" value="Korea Sout">Korea South</option>
                <option class="country-options" value="Kuwait">Kuwait</option>
                <option class="country-options" value="Kyrgyzstan">Kyrgyzstan</option>
                <option class="country-options" value="Laos">Laos</option>
                <option class="country-options" value="Latvia">Latvia</option>
                <option class="country-options" value="Lebanon">Lebanon</option>
                <option class="country-options" value="Lesotho">Lesotho</option>
                <option class="country-options" value="Liberia">Liberia</option>
                <option class="country-options" value="Libya">Libya</option>
                <option class="country-options" value="Liechtenstein">Liechtenstein</option>
                <option class="country-options" value="Lithuania">Lithuania</option>
                <option class="country-options" value="Luxembourg">Luxembourg</option>
                <option class="country-options" value="Macau">Macau</option>
                <option class="country-options" value="Macedonia">Macedonia</option>
                <option class="country-options" value="Madagascar">Madagascar</option>
                <option class="country-options" value="Malaysia">Malaysia</option>
                <option class="country-options" value="Malawi">Malawi</option>
                <option class="country-options" value="Maldives">Maldives</option>
                <option class="country-options" value="Mali">Mali</option>
                <option class="country-options" value="Malta">Malta</option>
                <option class="country-options" value="Marshall Islands">Marshall Islands</option>
                <option class="country-options" value="Martinique">Martinique</option>
                <option class="country-options" value="Mauritania">Mauritania</option>
                <option class="country-options" value="Mauritius">Mauritius</option>
                <option class="country-options" value="Mayotte">Mayotte</option>
                <option class="country-options" value="Mexico">Mexico</option>
                <option class="country-options" value="Midway Islands">Midway Islands</option>
                <option class="country-options" value="Moldova">Moldova</option>
                <option class="country-options" value="Monaco">Monaco</option>
                <option class="country-options" value="Mongolia">Mongolia</option>
                <option class="country-options" value="Montserrat">Montserrat</option>
                <option class="country-options" value="Morocco">Morocco</option>
                <option class="country-options" value="Mozambique">Mozambique</option>
                <option class="country-options" value="Myanmar">Myanmar</option>
                <option class="country-options" value="Nambia">Nambia</option>
                <option class="country-options" value="Nauru">Nauru</option>
                <option class="country-options" value="Nepal">Nepal</option>
                <option class="country-options" value="Netherland Antilles">Netherland Antilles</option>
                <option class="country-options" value="Netherlands">Netherlands (Holland, Europe)</option>
                <option class="country-options" value="Nevis">Nevis</option>
                <option class="country-options" value="New Caledonia">New Caledonia</option>
                <option class="country-options" value="New Zealand">New Zealand</option>
                <option class="country-options" value="Nicaragua">Nicaragua</option>
                <option class="country-options" value="Niger">Niger</option>
                <option class="country-options" value="Nigeria">Nigeria</option>
                <option class="country-options" value="Niue">Niue</option>
                <option class="country-options" value="Norfolk Island">Norfolk Island</option>
                <option class="country-options" value="Norway">Norway</option>
                <option class="country-options" value="Oman">Oman</option>
                <option class="country-options" value="Pakistan">Pakistan</option>
                <option class="country-options" value="Palau Island">Palau Island</option>
                <option class="country-options" value="Palestine">Palestine</option>
                <option class="country-options" value="Panama">Panama</option>
                <option class="country-options" value="Papua New Guinea">Papua New Guinea</option>
                <option class="country-options" value="Paraguay">Paraguay</option>
                <option class="country-options" value="Peru">Peru</option>
                <option class="country-options" value="Phillipines">Philippines</option>
                <option class="country-options" value="Pitcairn Island">Pitcairn Island</option>
                <option class="country-options" value="Poland">Poland</option>
                <option class="country-options" value="Portugal">Portugal</option>
                <option class="country-options" value="Puerto Rico">Puerto Rico</option>
                <option class="country-options" value="Qatar">Qatar</option>
                <option class="country-options" value="Republic of Montenegro">Republic of Montenegro</option>
                <option class="country-options" value="Republic of Serbia">Republic of Serbia</option>
                <option class="country-options" value="Reunion">Reunion</option>
                <option class="country-options" value="Romania">Romania</option>
                <option class="country-options" value="Russia">Russia</option>
                <option class="country-options" value="Rwanda">Rwanda</option>
                <option class="country-options" value="St Barthelemy">St Barthelemy</option>
                <option class="country-options" value="St Eustatius">St Eustatius</option>
                <option class="country-options" value="St Helena">St Helena</option>
                <option class="country-options" value="St Kitts-Nevis">St Kitts-Nevis</option>
                <option class="country-options" value="St Lucia">St Lucia</option>
                <option class="country-options" value="St Maarten">St Maarten</option>
                <option class="country-options" value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                <option class="country-options" value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                <option class="country-options" value="Saipan">Saipan</option>
                <option class="country-options" value="Samoa">Samoa</option>
                <option class="country-options" value="Samoa American">Samoa American</option>
                <option class="country-options" value="San Marino">San Marino</option>
                <option class="country-options" value="Sao Tome & Principe">Sao Tome & Principe</option>
                <option class="country-options" value="Saudi Arabia">Saudi Arabia</option>
                <option class="country-options" value="Senegal">Senegal</option>
                <option class="country-options" value="Seychelles">Seychelles</option>
                <option class="country-options" value="Sierra Leone">Sierra Leone</option>
                <option class="country-options" value="Singapore">Singapore</option>
                <option class="country-options" value="Slovakia">Slovakia</option>
                <option class="country-options" value="Slovenia">Slovenia</option>
                <option class="country-options" value="Solomon Islands">Solomon Islands</option>
                <option class="country-options" value="Somalia">Somalia</option>
                <option class="country-options" value="South Africa">South Africa</option>
                <option class="country-options" value="Spain">Spain</option>
                <option class="country-options" value="Sri Lanka">Sri Lanka</option>
                <option class="country-options" value="Sudan">Sudan</option>
                <option class="country-options" value="Suriname">Suriname</option>
                <option class="country-options" value="Swaziland">Swaziland</option>
                <option class="country-options" value="Sweden">Sweden</option>
                <option class="country-options" value="Switzerland">Switzerland</option>
                <option class="country-options" value="Syria">Syria</option>
                <option class="country-options" value="Tahiti">Tahiti</option>
                <option class="country-options" value="Taiwan">Taiwan</option>
                <option class="country-options" value="Tajikistan">Tajikistan</option>
                <option class="country-options" value="Tanzania">Tanzania</option>
                <option class="country-options" value="Thailand">Thailand</option>
                <option class="country-options" value="Togo">Togo</option>
                <option class="country-options" value="Tokelau">Tokelau</option>
                <option class="country-options" value="Tonga">Tonga</option>
                <option class="country-options" value="Trinidad & Tobago">Trinidad & Tobago</option>
                <option class="country-options" value="Tunisia">Tunisia</option>
                <option class="country-options" value="Turkey">Turkey</option>
                <option class="country-options" value="Turkmenistan">Turkmenistan</option>
                <option class="country-options" value="Turks & Caicos Is">Turks & Caicos Is</option>
                <option class="country-options" value="Tuvalu">Tuvalu</option>
                <option class="country-options" value="Uganda">Uganda</option>
                <option class="country-options" value="United Kingdom">United Kingdom</option>
                <option class="country-options" value="Ukraine">Ukraine</option>
                <option class="country-options" value="United Arab Erimates">United Arab Emirates</option>
                <option class="country-options" value="United States of America">United States of America</option>
                <option class="country-options" value="Uraguay">Uruguay</option>
                <option class="country-options" value="Uzbekistan">Uzbekistan</option>
                <option class="country-options" value="Vanuatu">Vanuatu</option>
                <option class="country-options" value="Vatican City State">Vatican City State</option>
                <option class="country-options" value="Venezuela">Venezuela</option>
                <option class="country-options" value="Vietnam">Vietnam</option>
                <option class="country-options" value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                <option class="country-options" value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                <option class="country-options" value="Wake Island">Wake Island</option>
                <option class="country-options" value="Wallis & Futana Is">Wallis & Futana Is</option>
                <option class="country-options" value="Yemen">Yemen</option>
                <option class="country-options" value="Zaire">Zaire</option>
                <option class="country-options" value="Zambia">Zambia</option>
                <option class="country-options" value="Zimbabwe">Zimbabwe</option>
              </select>
              <br>
              <select id="state" name="state" placeholder="Your State" class=" form-control">
                <option selected disabled value="null">Select a State</option>
                <option class="state-options" value="Andhra Pradesh">Andhra Pradesh</option>
                <option class="state-options" value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option class="state-options" value="Assam">Assam</option>
                <option class="state-options" value="Bihar">Bihar</option>
                <option class="state-options" value="Chhattisgarh">Chhattisgarh</option>
                <option class="state-options" value="Goa">Goa</option>
                <option class="state-options" value="Gujarat">Gujarat</option>
                <option class="state-options" value="Haryana">Haryana</option>
                <option class="state-options" value="Himachal Pradesh">Himachal Pradesh</option>
                <option class="state-options" value="Jharkhand">Jharkhand</option>
                <option class="state-options" value="Karnataka">Karnataka</option>
                <option class="state-options" value="Kerala">Kerala</option>
                <option class="state-options" value="Madhya Pradesh">Madhya Pradesh</option>
                <option class="state-options" value="Maharashtra">Maharashtra</option>
                <option class="state-options" value="Manipur">Manipur</option>
                <option class="state-options" value="Meghalaya">Meghalaya</option>
                <option class="state-options" value="Mizoram">Mizoram</option>
                <option class="state-options" value="Nagaland">Nagaland</option>
                <option class="state-options" value="Odisha">Odisha</option>
                <option class="state-options" value="Punjab">Punjab</option>
                <option class="state-options" value="Rajasthan">Rajasthan</option>
                <option class="state-options" value="Sikkim">Sikkim</option>
                <option class="state-options" value="Tamil Nadu">Tamil Nadu</option>
                <option class="state-options" value="Telangana">Telangana</option>
                <option class="state-options" value="Tripura">Tripura</option>
                <option class="state-options" value="Uttar Pradesh">Uttar Pradesh</option>
                <option class="state-options" value="Uttarakhand">Uttarakhand</option>
                <option class="state-options" value="West Bengal">West Bengal</option>
              </select>
              
              <br>
<!--              <textarea class="common-textarea form-control" name="allergies" placeholder="Enter Allergies"-->
<!--                onfocus="this.placeholder = 'Allergies, If Any'"-->
<!--                onblur="this.placeholder = 'Enter Allergies'"></textarea>-->
<!--              <br>-->
<!--              <textarea class="common-textarea form-control" name="medications" placeholder="Enter Medications"-->
<!--                onfocus="this.placeholder = 'Medications, If Any'"-->
<!--                onblur="this.placeholder = 'Enter Medications'"></textarea>-->
<!--              <br>-->
<!--              <textarea class="common-textarea form-control" name="observations" placeholder="Enter Observations"-->
<!--                onfocus="this.placeholder = 'Observations, If Any'"-->
<!--                onblur="this.placeholder = 'Enter Observations'"></textarea>-->
            </div>

            <button class="genric-btn primary" type="submit" onclick="myFunction()">Add
              Data</button>
            
            <button class="genric-btn primary" type="upload" onclick="myFunction()">Add
              Files</button>

          </div>
      </div>
      </form>
      </div>
    </section>

  </main>
</body>

</html>